.section {
  border: 5px outset grey;
  border-radius: 20px;
  text-align: center;
  background-color: lightgrey;
}

.code {
  text-align: center;
  background-color: lightblue;
}

.footer {
  text-align: center;
  background-color: lightblue;
  border: 5px outset grey;
}